@page "/"

<PageTitle>Index</PageTitle>

<h1 class="govuk-heading-l"> Welcome to the Lighting Feedback Service</h1>

<span class="govuk-caption-l">Click <a class="govuk-link" href="addfeedback">here</a> to leave feedback on the lighting</span>


