@inherits LayoutComponentBase

<PageTitle>GovBright.Web</PageTitle>
<Header />
<div class="govuk-width-container app-width-container">
   <LoginDisplay />
    <main class="govuk-main-wrapper app-main-class" id="main-content" role="main">
        @Body
    </main>
</div>
<Footer />