<nav aria-label="Menu" class="govuk-header__navigation govuk-!-text-align-right">
    <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide menu" hidden>Menu</button>
    <ul id="navigation" class="govuk-header__navigation-list">
        <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="addfeedback">
                Add Feedback
            </a>
        </li>
        <AuthorizeView>
            <Authorized>
                <li class="govuk-header__navigation-item">
                    <a class="govuk-header__link" href="viewfeedback">
                        View Feedback
                    </a>
                </li>
            </Authorized>
        </AuthorizeView>
    </ul>
</nav>
